@media (max-width:1200px){

    header{
        width: 1000px;
        width: 100%;
    }

    section .home{
        width: 1000px;
    }

    .links_projetos{
        font-size:small ;
    }

    footer{
        width: 1000px;
        width: 100%;
    }

}

@media (max-width:1024px){
    header{
        width: 700px;
        width: 100%;
    }



    .home_sobre_mim{
        font-size:small ;
    }

    .links_projetos{
        font-size:x-small ;
    }

    section .home{
        width: 700px;
    }

    footer{
        width: 700px;
        width: 100%;
    }

}

@media (max-width:768px){
    #sumir_mobile{
        font-size: x-small;
        margin: 0;
    }
    .home_main h1{
        font-size: small;
    }
    .home_main h2{
        font-size: small;
    }

    .home_sobre_mim p{
        font-size: smaller;
    }

    .icons-cards{
        display: none;
    }
    .projects_cards{
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 20% 20% 20% 20% ;
        height: auto;
        grid-gap: 1rem;
        justify-content: center;
        height: 800px;
        
    }

    .site_responsivo_mobile{
        background-image: url(../Imagens/Celular.jpg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:3;
        grid-row-end:4;
        border-radius: 40px;
    }
    .cursos_alurinha{
        background-image: url(../Imagens/Icone\ Alura.jpg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start:3;
        grid-row-end:4;
        border-radius: 40px;
    }

    .social_fut{
        background-image: url(../Imagens/Social\ Fut.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:4;
        grid-row-end:5;
        border-radius: 40px;
    }
    .batalha_naval{
        background-image: url(../Imagens/Batlha\ naval.jpg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start:4;
        grid-row-end:5;
        border-radius: 40px;
    }
    header{
        width: 500px;
        width: 100%;
        
    }

    section .home{
        width: 400px;
        width: 100%;
    }

    .links a img{
        width: 40px; 
        height: 40px;
        margin: 1rem;
    }

    footer{
        width: 400px;
        width: 100%;
    }
  

}

@media (max-width:440px){
    .nav_menu li{
        display: flex;
        justify-content: center;
        margin: 0rem;
        width: 100%;
    }
    #sumir_mobile{
        display: none;
    }
    .home_main h1{
        font-size: x-small;
    }
    .home_main h2{
        font-size: x-small;
    }

    .home_sobre_mim p{
        font-size: xx-small;
    }
}

@media (max-width:425px){
    .meuAvatar{
        width: 200px;
        height: 200px;
    }

    header{
        width: 320px;
        width: 100%;
    }

    section .home{
        width: 320px;
        width: 100%;
    }

    .home_main h1{
        font-size: 6px;
        margin-bottom: 0.5rem;
    }
    .home_main h2{
        font-size: 6px;
    }
    .home_sobre_mim h1{
        font-size: x-small;
    }
    .home_sobre_mim p{
        font-size: 4px;
    }  

    .titulo_projects{
        font-size: x-small;
    }
    .minhasReferencias figure img {
        width: 200px;
        height: 200px;
    }

    footer{
        width: 320px;
        width: 100%;
    }
}
