[submodule "themes/vex-hugo"]
    path = themes/vex-hugo
    url = https://github.com/CauaBrito01/Portfolio.git

    [submodule "themes/vex-hugo6"]
    path = themes/vex-hugo
    url = https://github.com/CauaBrito01/Portfolio.git
    [submodule "themes/vex-hugo5"]
    path = themes/vex-hugo
    url = https://github.com/CauaBrito01/Portfolio.git
    [submodule "themes/vex-hugo4"]
    path = themes/vex-hugo
    url = https://github.com/CauaBrito01/Portfolio.git
    [submodule "themes/vex-hugo3"]
    path = themes/vex-hugo
    url = https://github.com/CauaBrito01/Portfolio.git
    [submodule "themes/vex-hugo2"]
    path = themes/vex-hugo
    url = https://github.com/CauaBrito01/Portfolio.git

    [submodule "themes/vex-hugo1"]
    path = themes/vex-hugo
    url = https://github.com/CauaBrito01/Portfolio.git

    [submodule "themes/vex-hugo8"]
    path = themes/vex-hugo
    url = https://github.com/CauaBrito01/Portfolio.git
    [submodule "themes/vex-hugo9"]
    path = themes/vex-hugo
    url = https://github.com/CauaBrito01/Portfolio.git
    [submodule "themes/vex-hugo10"]
    path = themes/vex-hugo
    url = https://github.com/CauaBrito01/Portfolio.git